<!DOCTYPE html>
<html>
<head>
  <title>Admin page</title>
  <%= stylesheet_link_tag "bootstrap"%>
</head>
<body>
  <% config = EditI18nDatabaseTranslations.config %>
  <div>
    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, config.admin_path(locale: locale), class: "btn btn-default" %>
    <% end %>
    <br />
    <%= link_to 'All', config.admin_path(locale: locale), class: "btn btn-default" %>
    <% config.favorite_pages.each do |page_data| %>
      <%= link_to page_data[:name], config.admin_path(locale: locale, key: page_data[:key]), class: "btn btn-default" %>
    <% end %>
    <table style="border: 1px dotted black" border="1" class="table table-striped">
      <%- @list_of_keys.each do |key| %>
        <tr>
          <td><%= key %></td>
          <td><%= text(key) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= i18n_editor %>
</body>
</html>
