<!DOCTYPE html>
<html>
<head>
  <title>Admin page</title>
  <%= stylesheet_link_tag "edit_i18n_database_translations.css"%>
  <%= javascript_include_tag "jquery"%>
</head>
<body>
  <div>
    <%= render 'edit_i18n_database_translations/links' %>

    <% if show_images? %>
      <%= render 'edit_i18n_database_translations/images_table' %>
    <% else %>
      <%= render 'edit_i18n_database_translations/texts_table' %>
    <% end %>
  </div>
  <%= i18n_editor %>
</body>
</html>
