<div class="i18n-text-editor js-i18n-text-editor" data-save-path="<%= EditI18nDatabaseTranslations.config.save_translation_path %>" data-locale="<%= I18n.locale %>">
  <%= javascript_include_tag "edit_i18n_database_translations" %>
  <%= stylesheet_link_tag "editor"%>
  <div class="background"></div>
  <div class="wrapper">
    <input class="input js-input" />
    <textarea class="textarea js-textarea"></textarea>
    <%= render 'edit_i18n_database_translations/help' %>
    <div class="button undo js-undo">Cancel</div>
    <div class="button save js-save">Save</div>
  </div>
</div>
